/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~bootstrap/dist/css/bootstrap.css";

ion-content {
	--padding-end: 1rem !important;
    --padding-start: 1rem !important;
}

.background-primary {
	--background:  #f2f2f2;
	background-color: #f2f2f2;
}

.color-dark {
	color: #4A4A4A;
}

.color-gray {
	color: #9B9B9B;
}

.color-green {
	color: #33BEC1;
}

.h7 {
	font-size: 12px !important;
}


.form-control {
	border-color: #CCCCCC !important;
	background-color: #FAFAFA !important;
	font-size: 13px !important;
	color: #9B9B9B;
	height: 48px !important;
	border-radius: 5px !important;
}

.btn-success {
	background: #33BEC1 !important;
	border-radius: 7px !important;
	height: 50px !important;
	border-color: #33BEC1!important;
	font-size: 14px !important;
}

.card-1 {
	box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.04) !important;
    border-radius: 7px !important;
    border: initial !important;
}

.card-2 {
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05) !important;
    border-radius: 8px !important;
    border: initial !important;

    .img-top-card {
    	height: 145px;
	    border-top-left-radius: 8px !important;
	    border-top-right-radius: 8px !important;
		background-position: center center !important;
		background-size: cover !important;
	}

.col-3.py-3.pr-0 img {
  height: 45px !important;
    width: 45px !important;
}





}

.form-group {
	label {
		font-size: 10px;
		font-style: normal;
		font-weight: 500;
		line-height: 8px;
		letter-spacing: 0px;

	}
}

ion-tab-bar {
	border-top: 0px;
	ion-tab-button {
		svg {
			fill: #9B9B9B;
		}
		ion-label {
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			line-height: 8px;
			margin-top: 5px;
			text-align: center;
			letter-spacing: 0.002px;
			color: #9B9B9B;
		}
	}

	.tab-selected {
		svg {
			fill: #33BEC1;
		}
		ion-label {
			color: #33BEC1;
		}
	}
}

ion-header {
	.title1 {
		font-weight: bold;
	    font-size: 24px;
	    line-height: 28px;
	    color: #4A4A4A;
	    margin-top: 15px;
	    position: relative;
	}

	ion-searchbar {
		--box-shadow: initial !important;
		padding-inline-start: 2px !important;

		.searchbar-input-container {
			border-bottom: 0.6px solid #CCCCCC;
			.searchbar-search-icon.sc-ion-searchbar-md {
				left: 0px !important;
				
			}
		}
		

		input {
			padding-inline-start: 30px !important;
			font-size: 14px !important;
		}
	}
}

.icon-right {
	top: 0px;
    position: absolute;
    right: 0px;
    svg {
    	fill: "black";
    }
}
.icon-left {
	left: -2px; 
	top: 3px;
	position: absolute;
}

.icon-left-2 {
	left: -2px;
    top: 8px;
    position: absolute;
    font-size: 19px;
}

//Explore searchbar
.explore-searchbar {
    	position: absolute !important;
    	bottom: 2px;
    	z-index: 1111;

    	.searchbar-input-container {
    		input {
	    		border: 0.3px solid #CCCCCC !important;
				box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05) !important;
				border-radius: 5px !important;
				font-size: 14px !important;
	    	}
    	}

    	.filter, .btn-filter {
    		position: absolute;
		    z-index: 1111;
		    
    	}

    	.filter {
    		right: 60px;
    	}
    	.btn-filter {
    		right: 25px;
    	}
    	
 }

 .item-title-promocion {
	font-weight: 600;
    font-size: 18px;
}


.intermedio {
	.card {
		margin-top: -40px !important;
    	z-index: 9999;
	}

	.reseña {
		font-size: 10px;
	    float: left;
	    margin-top: 6px;
	}

	.content-km {
		background: #45c4871a;
		mix-blend-mode: normal;
		//opacity: 0.05;
		border-radius: 8px;

	}
}

.migas-restaurant {
		font-size: 10px;
	    line-height: 6px;
	    float: left;
	    background: #E9EDF2;
	    border-radius: 4px;
	    padding: 6px;
	    color: #4A4A4A;
	    margin-left: 10px;
}

// Animation
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}


.div-loading {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    position: relative;
}


#btnHelp {
	position: fixed;
    bottom: 15px;
    right: 25px;
    z-index: 9999;
}

#btnHelp {
	position: fixed;
    bottom: 15px;
    right: 25px;
    z-index: 9999;
}

.icon-agregado-al-carrito {
	width: 120px;
}



.card-body .col-3.pl-0 .item-title-promocion {
    padding-right: 1rem !important;
}


.card .row .col-3.pl-0 {
    padding: 1rem !important;
}


.card-2 .col-6.pl-3 {
    padding: 0 0 1rem 0;
}
.card-2 .col-3.pl-0 p {
    margin: 0 !important;
    text-align: right;
}
.card-2 .col-2.pr-0.text-right {
    text-align: left !important;
    padding: 1rem 2rem !important;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
 

    font-family: 'Poppins', sans-serif;
}

.card-2 .col-6.pl-2 {
    padding:0 0 1rem 0;
}

.searchbar-search-icon.sc-ion-searchbar-ios {
    margin-left: 0 !important;
    left: 0px !important;
}


.item-title-promocion {
    font-weight: 600;
    font-size: 16px;

    margin: 0 0 5px 0 !important;
     margin-top: 1rem !important;
}

.card p.color-green.mt-3 {
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
    margin: 0 !important;
}

ion-header[_ngcontent-ure-c142] {
    height: 145px;
    background-position: center top !important;
    background-size: cover !important;
}

.card .pl-0 {
   
    padding: 0 0 0 1rem !important;
    text-align: left !important;
}