.label-1 {
	font-weight: 500;
	line-height: 12px;
	color: #3C3C3C;
}

.metodo-label {
	font-size: 14px; margin-top: 13px;
	font-weight: 500;
}

.leaflet-right {
	display: none;
}

.selected {
	border: 2px solid #45C487 !important;
}

.label-l1 {
	font-size: 14px;
	color: #6B7CAA;
	margin-bottom: 0px;
}

.label-r {
	font-weight: 500;
	font-size: 14px;
	color: #4A4A4A;
	margin-bottom: 0px;
}