<ion-content class="background-primary">

	<div class="color-dark pedido-entregado pt-4">Estado</div>

	<div class="text-center" style="margin-top: 35%;">
		<img src="./../../../assets/images/moto2.png">
	</div>

	<h4>¡Tu pedido se ha <br> entregado!</h4>
	<p class="color-gray h7 mt-3">
		Gracias por confiar en nuestro servicio, <br> esperamos verte pronto.
	</p>

	<div class="group-button">
		<button type="button" class="btn btn-success w-100 mt-3" routerLink="/orden-valorar">Siguiente</button>
	</div>

</ion-content>
