.pedido-entregado {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;

}

.status {
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	color: #6B7CAA;
}

.status-desactivo {
	font-size: 14px;
	color: #9B9B9B;
}

.hora {
	font-size: 12px;
	text-align: right;
	color: #9C9C9C;
}

.item-list {
	border-top: 0.6px dashed #CCCCCC;
}

.last-item {
	border-bottom: 0.6px dashed #CCCCCC;
}

.footer-md::before {
	background-image: none !important; 
}

.content-footer {
	background-color: white;
    border: 2px solid white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

ion-footer {
	position: absolute;
    height: 250px;
}

svg {
	fill: #d6d6d6;
}
