<ion-content class="background-primary">

	<ion-fab-button id="btnHelp" color="secondary" (click)="global._openModalContacto()"><ion-icon name="help"></ion-icon></ion-fab-button>

	<h6 class="text-center color-dark mt-4 position-relative">
		<ion-icon name="arrow-back" class="position-absolute" style="left: -2px; top: 3px;" routerLink="/cola"></ion-icon>
		Checkout
	</h6>

	<div class="card mt-4 card-2 pb-2">
	  <div class="card-body text-center px-o p-0">
	  	<div class="" id="expressMap"  #expressMap style="height: 175px;"></div>

	  	<div class="row mx-0">
	  		<div class="col-12 pl-3">
	  			<h5 class="text-left mt-3 color-dark mb-0 item-title-promocion" style="font-size: 14px;">¿Donde lo buscamos?</h5>
	  			<small class="color-gray float-left text-left"> <img src="./../../../assets/images/pin-rojo-icon.png">{{origin_address}}
	  			</small>
	  		</div>
	  	</div>

	  	<div class="row mx-0">
	  		<div class="col-12 pl-3">
	  			<h5 class="text-left mt-3 color-dark mb-0 item-title-promocion" style="font-size: 14px;">¿Adonde lo llevamos?</h5>
	  			<small class="color-gray float-left text-left"> <img src="./../../../assets/images/pin-icon.png"> {{finish_address}}
	  			</small>
	  		</div>
	  	</div>

	  	<div class="row mx-0">
	  		<div class="col-12 pl-3">
	  			<h5 class="text-left mt-3 color-dark mb-0 item-title-promocion" style="font-size: 14px;">
	  				<ion-icon name="cube" style="color: #c5c5c5; margin-top: 1px; float: left; margin-right: 5px;"></ion-icon>
	  				Nombre del pasajero
	  			</h5>
	  			<small class="color-gray float-left text-left"> {{object}}
	  			</small>
	  		</div>
	  	</div>

		  <div class="row mx-0">
			<div class="col-12 pl-3">
				<h5 class="text-left mt-3 color-dark mb-0 item-title-promocion" style="font-size: 14px;">
					<ion-icon name="cube" style="color: #c5c5c5; margin-top: 1px; float: left; margin-right: 5px;"></ion-icon>
					Tipo
				</h5>
				<small class="color-gray float-left text-left"> {{tipo}}
				</small>
			</div>
		</div>
		  

	  	<div class="row mx-0">
	  		<div class="col-12 pl-3">
	  			<h5 class="text-left mt-3 color-dark mb-0 item-title-promocion" style="font-size: 14px;">
	  				<ion-icon name="create" style="color: #c5c5c5; margin-top: 1px; float: left; margin-right: 5px;"></ion-icon> Nota 
	  			</h5>
	  			<small class="color-gray float-left text-left"> {{nota}}
	  			</small>
	  		</div>
	  	</div>

	  </div>
	</div>

	<div class="row mt-2 px-3 pt-4">
		<div class="col-12 px-0 mb-2">
			<h6 class="label-1">Método de pago</h6>
		</div>
	</div>

	<div *ngFor="let metodo of metodos" class="{{metodo.css}}" (click) = "presentModal(metodo)">
	  <div class="card-body text-center px-o p-0">
	  	<div class="row">
	  		<div class="col-12 pl-3">
	  			<h5 class="text-left color-dark metodo-label ml-3">{{metodo.name}}</h5>
	  		</div>
	  	</div>

	  </div>
	</div>

	<div class="group-button mb-3">
		<button type="button" class="btn btn-success w-100 mt-3" (click) = "completarOrden()" [disabled] = "loading || payment_id==null">
			<span *ngIf="loading==false">
		  		Completar orden
		  	</span>
		  	<div class="spinner-border text-light" role="status" *ngIf="loading==true">
			  <span class="sr-only">Loading...</span>
			</div>
		</button>
	</div>

</ion-content>
