<ion-content class="background-primary">

	<h6 class="text-center color-dark mt-5 position-relative">
		Orden realizada
		<span class="icon-right" routerLink="/tabs/tabs/categories" >
	  		<ion-icon name="close" class="mr-3" style="font-size: 20px;"></ion-icon>
		</span>
	</h6>

	<div class="text-center" style="margin-top: 35%;">
		<img src="./../../../assets/images/moto.png">


	</div>

	<h4>Tu solicitud ha sido <br> procesada correctamente.</h4>
	<p class="color-gray h7 mt-3" *ngIf="estimado!=''">
		Hora de entrega estimada <span style="font-weight: 600">{{estimado}} Hrs.</span>
	</p>

	<div class="group-button">
		<button type="button" class="btn btn-success w-100 mt-3" (click)="goto()" [disabled] = "setOrderDetail == null">Ver estado de la orden</button>
	</div>

</ion-content>
