.footer-md:before {
	background-image: initial !important;
}

ion-content {
	--padding-end: 0 !important;
    --padding-start: 0 !important;

    #pin {
    	position: absolute;
	    bottom: 100px;
	    right: 10px;
	    z-index: 9999;
    }

    #save {
    	position: absolute;
	    bottom: 30px;
	    right: 10px;
	    z-index: 9999;
    }
}