ion-header {
	height: 145px;
	background-position: center top !important; 
	background-size: 100% 100% !important;
	h6 {
    	text-align: center;
	    width: 100%;
	    padding-top: 14px;
	    font-weight: 500;
	    position: relative;
	    color: white;
	    .icon-right {
	    	top: 13px;
	    	svg {
	    		fill: white;
	    	}
	    }

	    .icon-left-2 {
	    	top: 14px;
	    }
	}
}


ion-content {
	.fast-food{
		font-weight: 600;
		font-size: 22px;
		line-height: 15px;
		color: #4A4A4A;
	}
	.num-products {
		font-size: 12px;
	    line-height: 8px;
	    color: #4A4A4A;
	    padding-top: 6px;
	    padding-left: 10px;
	}
}

