<ion-header class="ion-no-border px-4" [style]="item.background">
  <h6 class="mt-2">

  	<ion-icon name="arrow-back" class="icon-left-2" (click)="goBack()"></ion-icon>

  	{{item.restaurant.name}}
  	
  </h6>
</ion-header>

<div class="intermedio background-primary px-3">

	<ion-fab-button id="btnHelp" color="secondary" (click)="global._openModalContacto()"><ion-icon name="help"></ion-icon></ion-fab-button>

	<div class="card mt-3 card-2 pb-3">
	  <div class="card-body text-center px-0 p-0">

	  	<div class="row mx-3">
	  		<div class="col-8 px-0 text-left">
	  			<h5 class=" mt-3 color-dark mb-0 item-title-promocion">{{item.name}}</h5>
	  			<p *ngIf="item.variable == '' || item.variable == null" class="color-green mb-0 mt-1" style="font-size: 12px; font-weight: 600;">${{formatear(iPrice)}}</p>
	  		</div>
	  		<div class="col-4 px-0">
	  			<div class="border rounded-lg p-1 mt-3">
	  				<div class="row mx-0">
	  					<div class="col-3 px-0" (click)="minus()">
	  						-
	  					</div>
	  					<div class="col-6 px-0">
	  						{{qty}}
	  					</div>
	  					<div class="col-3 px-0" (click)="add()">
	  						+
	  					</div>
	  				</div>
	  			</div>
	  		</div>

	  		<div class="col-12 px-0 text-left" *ngIf="item.promo == true">
	  			<span class="color-gray" style="font-size: 11px;">{{item.description}}</span>
	  		</div>
	  	</div>

	  </div>
	</div>
</div>



<ion-content class="background-primary pb-3">

	<div class="grid mt-0 px-3 pt-4" *ngIf="item.options.length > 0">
		<div class="col-12 px-0 mb-2">
			<h6 class="num-products">Tipo de {{item.name}}</h6>
		</div>
		<div class="col px-0 option-range text-center">
			<label *ngIf="option == 0" style="font-weight: 900">Normal</label>
			<label *ngIf="option != 0">Normal</label>
	  	</div>
	  	<div class="col px-0 option-range text-center" *ngFor="let op of item.options; let i = index">
	  		<label *ngIf="option == (i+1)" style="font-weight: 900">{{op.name}}</label>
	  		<label *ngIf="option != (i+1)">{{op.name}}</label>
	  	</div>
		<div class="col-12 px-0 mt-2">
			<div class="slidecontainer">
			  <ion-range min="0" max="100" color="success" [(ngModel)]="range" (ionChange)=showVal(range)></ion-range>
			</div>
		</div>
	</div>

	<div class="row mt-0 px-3 pt-4" *ngIf="item.variable.length > 0">
		<div class="col-12 px-0 mb-2">
			<h6 class="num-products">Preferencias</h6>
		</div>
		<div class="col-12 px-0 mb-2">
			<div id="accordion">
			  <div class="card" *ngFor="let productVar of item.variable; let i = index">
			    <div class="card-header py-1" id="headingOne">
			      <h5 class="mb-0">
			        <div style="font-size: 15px; color: #33BEC1" (click)="collapseAction(i)" class="p-0 text-left w-100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          {{productVar.title}}
			          <small class="d-block w-100">Seleccione {{productVar.count}} </small>
			        </div>
			      </h5>
			    </div>

			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
			      <div class="card-body">
			      		<div *ngFor="let optionVar of productVar.options; let y = index">
			      			<div class="custom-control custom-radio" *ngIf="parseEntero(productVar.count) == 1">
							  <input type="radio" [id]="setIdRadio(y,i)" [name]="setNameRadio(i)" class="custom-control-input" (change)="setVar($event, optionVar, productVar, i)">
							  <label class="custom-control-label w-100" [for]="setIdRadio(y,i)">
							  	{{optionVar.name}}
							  	<span class="float-right">${{optionVar.price}}</span>
							  </label>
							</div>
							<div class="custom-control custom-checkbox" *ngIf="parseEntero(productVar.count) > 1">
							  <input type="checkbox" [id]="setNameCheck(i,y)"  class="custom-control-input" (change)="setVar2($event, optionVar, productVar, i)">
							  <label class="custom-control-label w-100" [for]="setNameCheck(i,y)">
							  	{{optionVar.name}}
							  	<span class="float-right">${{optionVar.price}}</span>
							  </label>
							</div>
			      		</div>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>

	<div class="row mt-0 px-3">
		<div class="col-12 px-0 mt-4" *ngIf="item.addons.length > 0">
			<h6 class="num-products">Extras</h6>
		</div>
		<div class="col-12 px-0 pb-4">

			<div class="card mt-3 card-2 pb-0" *ngFor="let addon of item.addons">
			  <div class="card-body text-center px-o p-0">
			  	<div class="row">
			  		<div class="col-2 pr-0 text-right" style="padding-top: 13px;">
			  			<ion-checkbox (ionChange)="setAddon($event, addon.id)" color="success" slot="start"></ion-checkbox>
			  		</div>
			  		<div class="col-6 pl-3">
			  			<h5 class="text-left color-dark mb-0 item-title-promocion" style="font-size: 14px; margin-top: 14px;">{{addon.name}}</h5>
			  		</div>
			  		<div class="col-3 pl-0">
			  			<p class="color-dark text-right" style="font-size: 12px; margin-top: 14px;">${{formatear(addon.price)}}</p>
			  		</div>
			  	</div>

			  </div>
			</div>

		</div>


		<div class="col-12 px-0 pb-4 text-center mt-3">
			<p class="color-dark mb-0" style="font-size: 12px; ">Total</p>
			<p class="total-monto color-green" style="font-size: 36px; ">
				${{formatear(price)}}
			</p>

			<button type="button" class="btn btn-success px-4" (click)="addCart()" >Añadir</button>
		</div>


	</div>

</ion-content>
