<ion-content class="background-primary">

	<ion-fab-button id="btnHelp" color="secondary" (click)="global._openModalContacto()"><ion-icon name="help"></ion-icon></ion-fab-button>

	<h6 class="text-center color-dark mt-4 position-relative">
		<ion-icon name="arrow-back" class="position-absolute" style="left: -2px; top: 3px;" routerLink="/tabs/tabs/categories"></ion-icon>
		Shipping Cola
	</h6>

	<div class="card mt-4 card-2 pb-2">
	  <div class="card-body text-center px-o p-0">
	  	<div class="" #expressMap id="expressMap" style="height: 175px;"></div>

	  	<div class="row mx-0">
	  		<div class="col-12 pl-3">
	  			<h5 class="text-left mt-3 color-dark mb-0 item-title-promocion" style="font-size: 14px;">¿Donde lo buscamos?</h5>
	  			<small class="color-gray float-left text-left"> <img src="./../../../assets/images/pin-rojo-icon.png">
	  				<span class="text-primary" *ngIf="origin_address==''" (click) = "map('origin')">Agregar dirección</span>
	  				<span class="text-primary" *ngIf="origin_address!=''" (click) = "map('origin')">{{origin_address}} </span>
	  			</small>
	  		</div>
	  	</div>

	  	<div class="row mx-0">
	  		<div class="col-12 pl-3">
	  			<h5 class="text-left mt-3 color-dark mb-0 item-title-promocion" style="font-size: 14px;">¿Adonde lo llevamos?</h5>
	  			<small class="color-gray float-left text-left"> <img src="./../../../assets/images/pin-icon.png"> 
	  				<span class="text-primary" *ngIf="finish_address==''" (click) = "map('finish')">Agregar dirección</span>
	  				<span class="text-primary" *ngIf="finish_address!=''" (click) = "map('finish')">{{finish_address}} </span>
	  			</small>
	  		</div>
	  	</div>

	  	<div class="row mx-0">
	  		<div class="col-12 pl-3">
	  			<h5 class="text-left mt-3 color-dark mb-0 item-title-promocion" style="font-size: 14px;">Nombre del pasajero</h5>
	  			<div class="form-group mt-2 mb-0">
				    <input type="text" class="form-control" id="text" placeholder="Nombre del pasajero" [(ngModel)] = "object" [ngModelOptions]="{standalone: true}">
				</div>
	  		</div>
	  	</div>

		<div class="row mx-0">
			<div class="col-12 pl-3">
				<h5 class="text-left mt-3 color-dark mb-0 item-title-promocion" style="font-size: 14px;">Tipo de transporte</h5>
				<ion-radio-group  [(ngModel)]="tipo">
					<ion-row>
					  <ion-col>
						   <ion-item>
							  <ion-label>Automóvil</ion-label>
							  <ion-radio mode="md" item-left value="Automóvil"></ion-radio>
						 </ion-item>
					   </ion-col>
				  
					  <ion-col>
						  <ion-item>
							  <ion-label>Motocicleta</ion-label>
							  <ion-radio mode="md" item-left value="Motocicleta"></ion-radio>
						 </ion-item>
					  </ion-col>
				  </ion-row>
				  </ion-radio-group>
			</div>
		</div>

	  	<div class="row mx-0">
	  		<div class="col-12 pl-3">
	  			<h5 class="text-left mt-3 color-dark mb-0 item-title-promocion" style="font-size: 14px;">Nota</h5>
	  			<div class="form-group mt-2">
				    <textarea type="text" class="form-control" placeholder="Nota" [(ngModel)] = "nota"></textarea>
				</div>
	  		</div>
	  	</div>


	  	<div class="row mx-0">
	  		<div class="col-12 pb-4">

				<button type="button" class="btn btn-success mt-1 px-3 w-100" style="height: 45px !important;" (click) = "codigo()" [disabled] = "loadinCupon==true">

					<span *ngIf="loadinCupon==false">
				  		{{btnCupon}}
				  	</span>
				  	<div class="spinner-border text-light" role="status" *ngIf="loadinCupon==true">
					  <span class="sr-only">Loading...</span>
					</div>

				</button>

			</div>
	  	</div>

	  </div>
	</div>

	<div class="row mt-4 px-3 pt-0">

		<div class="col-7 pr-0 pl-1 pb-2">
			<label class="label-l">Envio</label>
		</div>
		<div class="col-5 pl-0 pr-1 pb-2 text-right">
			<label class="label-r">${{formatear(delivery)}}</label>
		</div>

		<div class="col-7 pr-0 pl-1 pb-2">
			<label class="label-l">Propina rider</label>
		</div>
		<div class="col-5 pl-0 pr-1 pb-2 text-right">
			<label class="label-r text-primary font-weight-bold" (click)="propinaF()">${{formatear(propina)}}</label>
		</div>

		<div class="col-7 pr-0 pl-1 pb-2">
			<label class="label-l">Descuento</label>
		</div>
		<div class="col-5 pl-0 pr-1 pb-2 text-right">
			<label class="label-r" *ngIf="cupon==null" >-$0.00</label>
			<label class="label-r" *ngIf="cupon!=null" >-${{formatear(descuento)}}</label>
		</div>

		<div class="col-12 px-0 py-0 border" style="height: 1px;"></div>

		<div class="col-7 pr-0 pl-1 pb-2">
			<label class="label-l">Total</label>
		</div>
		<div class="col-5 pl-0 pr-1 pb-2 text-right">
			<label class="label-t">${{formatear(subtotal)}}</label>
		</div>
		<div class="col-3 pr-0 pl-1 pb-2" *ngIf="cambio!=0.0">
			<label class="label-l">Total Bs.</label>
		</div>
		<div class="col-9 pl-0 pr-1 pb-2 text-right" *ngIf="cambio!=0.0">
			<label class="label-t">{{formatearBs(totalCambio)}}</label>
		</div>
	</div>

	<div class="group-button">
		<button type="button" class="btn btn-success w-100 my-3" (click) = "goto();" [disabled] = "origin_address=='' || finish_address=='' || object=='' || distance==0.0">
			<span *ngIf="loading==false">
		  		Proceder a pagar
		  	</span>
		</button>
	</div>

</ion-content>
